@charset "utf-8";
/* ーーーーーーーーーーーーーーーー */
*{
  color:#4c4c4c;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing:0.08em;
}
body{
  background:linear-gradient(145deg, #9ec2b4, #bce7d6);
}
main{
  padding:100px 0 500px;
}
#timer-field{
  display:grid;
  place-items:center;
  width:500px;
  padding:50px 40px 40px;
  background-color:#fff;
  box-shadow:  9px 9px 15px #a4c9ba,-5px -5px 8px #afdfcd;
  border-radius:10px;
  margin:0 auto 50px;
}
#timer{
  /* カーソルを透明化して非表示 */
  caret-color:transparent;
  width:100%;
  padding-bottom:5px;
  border:solid 1px transparent;
  border-radius:10px;
  margin:0 0 8px;
  color:#595959;
  font-family: 'Montserrat', sans-serif;
  font-size:100px;
  text-align:center;
  font-weight:bold;
  transition:all 300ms ease;
}
#timer:hover{
  opacity:0.9;
}
#timer:focus{
  outline:none;
  border:solid 1px #89c6b7;
  border-radius:10px;
}
#timer:disabled{
  all:unset;
  /* iPhoneのみ何故かdisabledに特殊なスタイルが掛かってしまっているのでそれを手間をかけてリセット */
  caret-color:transparent;
  width:100%;
  padding-bottom:5px;
  border:solid 1px transparent;
  border-radius:10px;
  margin:0 0 8px;
  color:#595959;
  font-family: 'Montserrat', sans-serif;
  font-size:100px;
  text-align:center;
  font-weight:bold;
  letter-spacing:0.08em;
  transition:all 300ms ease;
}
#message{
  margin-bottom:-12px;
  color:#7eb8a9;
  font-size:10px;
  text-align:center;
}
#alert{
  padding:20px 0 0;
  margin-bottom:-11px;
  color:rgb(248, 83, 83);
  font-size:10px;
  text-align:center;
}
#do-field{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  width:100%;
  margin-top:20px;
}
.do-btn{
  user-select:none;
  width:calc(50% - 10px);
  padding:15px 0;
  background-color:#7eb8a9;
  border-radius:5px;
  box-shadow:0 5px 5px #ddd;
  color:#fff;
  font-size:25px;
  text-align:center;
  transition:all 300ms ease;
}
.do-btn:hover{
  user-select:none;
  background-color:#679a8c;
}
.do-btn:active{
  user-select:none;
  box-shadow:none;
  transform:translateY(2px);
}
.do-btn:disabled{
  pointer-events:none;
  background-color:#669589;
  box-shadow:none;
  color:#b9b7b7;
  transform:translateY(2px);
}
#start-btn{
  z-index:20;
  width:100%;
  margin-bottom:20px;
  font-size:30px;
}
#stop-btn,
#reset-btn{
  z-index:10;
  border:solid 2px #7eb8a9;
  color:#7eb8a9;
  background-color:#fff;
  margin-bottom:20px;
}
#stop-btn:hover,
#reset-btn:hover{
  border:solid 2px #a3d2c5;
  color:#a3d2c5;
}
#stop-btn:disabled,
#reset-btn:disabled{
  border:solid 2px #a9b6b3;
  color:#cdcdcd;
}
#stop-btn:disabled.hide,
#reset-btn:disabled.hide {
  visibility:hidden;
  opacity:0;
  margin-top:-50px;
  margin-bottom:0;
}
#input-field{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  width:100%;
  padding:20px 20px;
  border-radius:10px;
}
.input-btn{
  user-select:none;
  width:calc(33% - 10px);
  padding:12px 0;
  border-radius: 5px;
  background-color:#fff;
  box-shadow:1px 1px 13px #ddd,0px 0px 13px #eee;
  margin:0 6px 7px 0;
  color:#aaa;
  font-size:24px;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  transition:all 200ms ease;
}
.input-btn:hover{
  user-select:none;
  background-color:#f5f5f5;
}
.input-btn:active{
  user-select:none;
  box-shadow:none;
}
.input-btn:disabled{
  pointer-events:none;
  background-color:#f5f5f5;
  color:#e3e3e3;
}
/* ーーーーーーーーーーーーーーーー */
#mask{
  z-index:999;
  display:grid;
  place-items:center;
  position:fixed;
  inset:0;
  background-color:rgba(0,0,0,0.5);
  text-align:center;
  transition:all 200ms ease;
}
#mask.hide{
  opacity:0;
  visibility:none;
  pointer-events:none;
  transition:all 200ms ease;
}
#ending{
  max-width:400px;
  width:80%;
  padding:30px 0;
  background-color:#fff;
  border-radius:10px;
}
#ending-deco{
  user-select:none;
  width:15%;
  margin-bottom:20px;
}
#ending-message{
  width:100%;
  margin-bottom:20px;
  font-size:11px;
}
#ending-message__close-btn{
  display:block;
  user-select:none;
  width:80%;
  padding:15px 0;
  background-color:#7eb8a9;
  border-radius:5px;
  box-shadow:0 5px 5px #ddd;
  margin:0 auto;
  color:#fff;
  transition:all 200ms ease;
}
#ending-message__close-btn:hover{
  user-select:none;
  background-color:#679a8c;
}
#ending-message__close-btn:active{
  user-select:none;
  box-shadow:none;
  transform:translateY(2px);
}
/* ーーーーーーーーーーーーーーーー */
#explaination{
  display:grid;
  place-items:center;
  width:500px;
  padding:50px 0 60px;
  background-color:#ffffff;
  border:solid 2px black;
  border-radius:10px;
  margin:0 auto;
}
#explaination li {
  color:black;
  font-size:10px;
  line-height:1.7em;
}
#explaination__deco{
  opacity:0.9;
  max-width:300px;
  width:100%;
  margin-bottom:20px;
}
/* ーーーーーーーーーーーーーーーー */
@media screen and (max-width:530px) {
  #timer-field{
    max-width:500px;
    width:calc(100% - 40px);
    padding:40px 20px 20px;
  }
  #timer{
    width:90%;
    font-size:80px;
  }
  #timer:disabled{
    width:90%;
    font-size:80px;
  }
  #do-field{
    width:90%;
  }
  .do-btn{
    padding:10px 0;
    font-size:20px;
  }
  #start-btn{
    margin-bottom:15px;
    font-size:25px;
  }
  #stop-btn,
  #reset-btn{
    margin-bottom:15px;
  }
  #stop-btn:disabled.hide,
  #reset-btn:disabled.hide {
    margin-bottom:0;
  }
  #message{
    font-size:9px;
  }
  #explaination{
    max-width:500px;
    width:90%;
    padding:35px 0;
  }
  #explaination ul{
    width:80%;
  }
  #explaination__deco{
    width:80%;
  }
}
@media screen and (max-width:412px) {
  #timer{
    width:90%;
    font-size:70px;
  }
  #timer:disabled{
    width:90%;
    font-size:70px;
  }
}
@media screen and (max-width:374px) {
  #timer{
    width:90%;
    font-size:55px;
  }
  #timer:disabled{
    width:90%;
    font-size:55px;
  }
}
@media screen and (max-width:333px) {
  #timer{
    width:90%;
    font-size:50px;
  }
  #timer:disabled{
    width:90%;
    font-size:50px;
  }
  #do-field{
    margin-top:10px;
  }
  .do-btn{
    font-size:17px;
  }
  #start-btn{
    font-size:20px;
  }
  #message{
    margin-bottom:0;
  }
  .input-btn{
    font-size:18px;
  }
}